@model Kutuphane.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        @if (Model.userMap != null)
        {

            <dt>
                @Html.DisplayNameFor(model => model.userMap.userId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userMap.userId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userMap.deliveryDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userMap.deliveryDate)
            </dd>

        }

        else
        {
            
            <h3> Kitap kütüphanemizdedir</h3>

        }


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Image)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Isbn }) |
    @Html.ActionLink("Önceki sayfaya dön", "Index")
</p>
