@using Kutuphane.Models;
@using Kutuphane.Session;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutuphane</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @Html.ActionLink("Admin Panel", "Index", "Home", new { area = "Admin" }, null)
            @if (CurrentSession.getCurrentAdmin() != null)
            {
                AdminUser admin = CurrentSession.getCurrentAdmin();
                @Html.ActionLink("Çıkış Yap", "Logout", "Security", new { area = "Admin" }, null)
                <h3 class="pull-right" style="color:white;">@admin.Id</h3>
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>